.ed-grid > *{
    background-color: rgb(159, 182, 204);
    min-height: 70px;
    color: rgb(155, 70, 70);
    text-align: center;
    line-height: 70px;
}
.ed-grid .ed-grid{
    background-color: none;
}
.tete{
    background-color: rgb(187, 228, 226);
  
}
.tete2{
    background-color: rgb(173, 187, 182);
    height: 320px;
}
.kin{
    background-color: rgb(220, 230, 185);
    height: 215px;
}
.coco{
    background-color: rgb(223, 220, 219);
    height: 150px;
}
